{
  "signing": {
    "default": {
      "expiry": "{{ sslConfig['expiry'] | default('17520h') }}",
      "usages": [
        "digital signature",
        "key encipherment",
        "server auth"
      ],
      "remote": "caserver"
    },
    "profiles": {
      "server": {
        "expiry": "{{ sslConfig['expiry'] | default('17520h') }}",
        "usages": [
          "digital signature",
          "key encipherment",
          "server auth"
        ],
        "remote": "caserver"
      }
    }
  },
  "remotes": {
    "caserver": "https://{{ sslConfig['pki'] }}"
  }
}
