{
  "signing": {
    "default": {
      "usages": [
        "digital signature"
      ],
      "expiry": "{{ ((cfsslConfig | default({}))['expiry'] | default({}))['generic'] | default('17520h') }}",
      "is_ca": true
    },
    "profiles": {
      "rootca": {
        "ca_constraints": {
          "max_path_len": 1,
          "is_ca": true
        },
        "expiry": "{{ ((cfsslConfig | default({}))['expiry'] | default({}))['rootca'] | default('438000h') }}",
        "usages": [
          "digital signature",
          "cert sign",
          "crl sign",
          "signing" 
        ]
      },
      "server": {
        "expiry": "{{ ((cfsslConfig | default({}))['expiry'] | default({}))['generic'] | default('17520h') }}",
        "usages": [
          "digital signature",
          "key encipherment",
          "server auth"
        ]
      }
    }
  }
}
