[global]
pid = /run/php-fpm.pid

syslog.facility = daemon
syslog.ident = php-fpm
; alert, error, warning, notice, debug
log_level = notice

[www]

user = nobody
group = nobody

listen = /run/php-fpm.sock
listen.owner = nobody
listen.group = nginx
listen.mode = 0660
 
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
