uris = {{ dovecotConfig['ldap']['uris'] }}
dn = {{ dovecotConfig['ldap']['dn'] }}
dnpass = {{ dovecotConfig['ldap']['dnpass'] }}
ldap_version = 3
base = {{ dovecotConfig['ldap']['base'] }}
user_attrs = mail=user
user_filter = (&(objectClass=posixAccount)(uid=%n))
pass_attrs = uid=user,userPassword=password
pass_filter = (&(objectClass=posixAccount)(uid=%n))
default_pass_scheme = CRYPT
