object Zone "generic" {
  global = true
}

{% for host in groups['all'] %}
object Endpoint "{{ host }}" {
  host = "{{ host }}"
}
object Zone "{{ host }}" {
  endpoints = [ "{{ host }}" ]
{% if (hostvars[host]['icingaConfig'] | default({}))['parent'] is defined %}
  parent = "{{ hostvars[host]['icingaConfig']['parent'] }}"
{% endif %}
}
{% endfor %}
