{% for host in groups['all'] %}
object Host "{{ host }}" {
  import "generic-host"

{% if host in groups['domU'] %}
  vars.type = "domU"
{% endif %}
{% if host in groups['dom0'] %}
  vars.type = "dom0"
{% endif %}
{% if host in groups['lxc'] %}
  vars.type = "lxc"
  vars.os = "linux"
{% endif %}
  address = "{{ host }}"
}
{% endfor %}
