{
  "signing": {
    "default": {
      "expiry": "{{ nginxConfig['ssl']['expiry'] | default('17520h') }}",
      "usages": [
        "digital signature",
        "key encipherment",
        "server auth"
      ],
      "remote": "caserver"
    },
    "profiles": {
      "server": {
        "expiry": "{{ nginxConfig['ssl']['expiry'] | default('17520h') }}",
        "usages": [
          "digital signature",
          "key encipherment",
          "server auth"
        ],
        "remote": "caserver"
      }
    }
  }
  "remotes": {
    "caserver": "https://{{ nginxConfig['pki'] }}"
  }
}
