{% if cfsslRootItem is defined %}
{% set item = cfsslRootItem %}
{% else %}
{% set item = cfsslSubItem %}
{% endif %}
{
  "CN": "{{ item['name'] }}",
  "key": {
    "algo": "{{ item['algo'] | default('rsa') }}",
    "size": {{ item['size'] | default('4096') }}
  },
  "names": [
{% for name in item['names'] | default([]) %}
    {
      "C": "{{ name['c'] }}",
      "L": "{{ name['l'] }}",
      "O": "{{ name['o'] }}",
      "OU": "{{ name['ou'] }}",
      "ST": "{{ name['st'] }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "ca": {
    "expiry": "{{ item['expiry'] | default('438000h') }}"
  }
}
