# for vixie cron

# Global variables
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# check scripts in cron.hourly, cron.daily, cron.weekly and cron.monthly

30 17-19 * * * root /usr/sbin/updateGentoo.sh
15 * * * * root /usr/sbin/reboot.sh

