server {
  listen 443 ssl;
  server_name {{ inventory_hostname }};

  include conf.d/ssl.inc;

  access_log /var/log/nginx/{{ inventory_hostname }}.access.log;
  error_log /var/log/nginx/{{ inventory_hostname }}.error.log warn;

  location ~ ^/index\.php(.*)$ {
    fastcgi_pass unix:/run/php-fpm.sock;
    fastcgi_index index.php;
    include /etc/nginx/fastcgi.conf;
    fastcgi_param SCRIPT_FILENAME /usr/share/icingaweb2/public/index.php;
    fastcgi_param ICINGAWEB_CONFIGDIR /etc/icingaweb2;
    fastcgi_param REMOTE_USER $remote_user;
  }

  location ~ ^/(.+)? {
    alias /usr/share/icingaweb2/public;
    index index.php;
    try_files $1 $uri $uri/ /index.php$is_args$args;
  }
}
