server {
  listen *:80;
  server_name {{ inventory_hostname }};

  access_log /var/log/nginx/{{ inventory_hostname }}.access.log;
  error_log /var/log/nginx/{{ inventory_hostname }}.error.log warn;

  root /var/lib/dirlisting/htdocs;

  location / {
    autoindex on;
  }
}
