server {
  listen 80;
  #listen 443 ssl;
  server_name {{ inventory_hostname }};

  access_log /var/log/nginx/{{ inventory_hostname }}.access.log;
  error_log /var/log/nginx/{{ inventory_hostname }}.error.log warn;

  #ssl_certificate /usr/local/ssl/{{ inventory_hostname }}.crt.pem;
  #ssl_certificate_key /usr/local/ssl/{{ inventory_hostname }}.key.pem;
  #ssl_dhparam /usr/local/ssl/{{ inventory_hostname }}.dh.pem;
  #ssl_protocols TLSv1.2;
  #ssl_prefer_server_ciphers on;
  #ssl_ciphers EECDH+AESGCM:EDH+AESGCM:AES128+EECDH:AES128+EDH;
  #ssl_session_timeout 5m;
  #ssl_session_cache shared:SSL:50m;

  root /usr/share/webapps/cgit/0.12/htdocs;
  try_files $uri @cgit;

  location @cgit {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /usr/share/webapps/cgit/0.12/hostroot/cgi-bin/cgit.cgi;
    fastcgi_param PATH_INFO       $uri;
    fastcgi_param QUERY_STRING    $args;
    fastcgi_param HTTP_HOST       $server_name;
    fastcgi_pass unix:/run/fcgiwrap-cgit.sock-1;
  }
}
