[defaults]
gathering = smart
fact_caching = redis
fact_caching_timeout = 86400
fact_caching_connection = {{ buildbotConfig['slave']['profiles']['ansible']['cache']['server'] }}:{{ buildbotConfig['slave']['profiles']['ansible']['cache']['port'] }}:{{ buildbotConfig['slave']['profiles']['ansible']['cache']['database'] }}:{{ buildbotConfig['slave']['profiles']['ansible']['cache']['password'] }}
