# dhcp config
authoritative;

{% if dhcpdConfig['ddns-key'] is defined %}
ddns-updates on;
ddns-update-style interim;
update-static-leases on;

key "ddns-key" {
  algorithm HMAC-MD5;
  secret "{{ dhcpdConfig['ddns-key'] }}";
};

zone {{ dhcpdConfig['domainName'] }} {
  primary {{ dhcpdConfig['dnsServers'] }};
  key "ddns-key";
}
{% endif %}

subnet {{ dhcpdConfig['subnetId'] | default('10.255.255.0') }} netmask {{ dhcpdConfig['netmask'] | default('255.255.255.0') }} {
  range {{ dhcpdConfig['rangeStart'] | default('10.255.255.20') }} {{ dhcpdConfig['rangeEnd'] | default('10.255.255.254') }};
  default-lease-time {{ dhcpdConfig['lease'] | default('86400') }};

  option routers {{ dhcpdConfig['defaultRoute'] | default('10.255.255.1') }};
  option domain-name "{{ dhcpdConfig['domainName'] | default('example.org') }}";
  option domain-name-servers {{ dhcpdConfig['dnsServers'] | default('85.214.20.141') }};
{% if dhcpdConfig['ddns-key'] is defined %}
  ddns-domainname "{{ dhcpdConfig['domainName'] }}";
{% endif %}

{% for host in groups['all'] %}
{% if hostvars[host]['ansible_default_ipv4'] is defined %}
  host {{ host.split('.')[0] }} {
    hardware ethernet {{ hostvars[host]['ansible_default_ipv4']['macaddress'] }};
    fixed-address {{ hostvars[host]['ansible_default_ipv4']['address'] }};
    ddns-hostname "{{ host.split('.')[0] }}";
  }
{% endif %}
{% endfor %}
}
