FCGI_SOCKET=/run/fcgiwrap-cgit.sock
FCGI_PROGRAM=/usr/sbin/fcgiwrap
FCGI_CHILDREN=1
FCGI_USER=nginx
FCGI_GROUP=nginx
ALLOWED_ENV="PATH"
# remember https://bugs.gentoo.org/show_bug.cgi?id=600606
FCGI_ADDRESS=
FCGI_PORT=
