lua_package_path '/usr/share/webapps/laprassl/9999/?.lua;/usr/lib64/lua/luarocks/share/lua/5.1/?.lua;/usr/lib64/lua/luarocks/share/lua/5.1/?/init.lua;./?.lua;/usr/share/lua/5.1/?.lua;/usr/share/lua/5.1/?/init.lua;/usr/lib64/lua/5.1/?.lua;/usr/lib64/lua/5.1/?/init.lua';
lua_package_cpath '/usr/lib64/lua/luarocks/lib/lua/5.1/?.so;./?.so;/usr/lib64/lua/5.1/?.so;/usr/lib64/lua/5.1/loadall.so';

server {
  listen 127.0.0.1:80;
{% if laprasslCaFile.stat.exists == True %}
  listen 443 ssl;
{% endif %}
  server_name {{ inventory_hostname }};

{% if laprasslCaFile.stat.exists == True %}
  include conf.d/ssl.inc;

{% endif %}
  access_log /var/log/nginx/{{ inventory_hostname }}.access.log;
  error_log /var/log/nginx/{{ inventory_hostname }}.error.log warn;

  lua_code_cache on;

  location / {
    default_type text/html;
    content_by_lua 'require("lapis").serve("laprassl")';
  }

  location /static/ {
    alias static/;
  }

  location /favicon.ico {
    alias static/favicon.ico;
  }
}
