/**
 * The db_ido_pgsql library implements IDO functionality
 * for PostgreSQL.
 */

library "db_ido_pgsql"

object IdoPgsqlConnection "ido-pgsql" {
  user = "{{ icingaConfig['postgres']['user'] }}"
  password = "{{ icingaConfig['postgres']['password'] }}"
  host = "{{ icingaConfig['postgres']['host'] }}"
  database = "{{ icingaConfig['postgres']['user'] }}"
}
