server {
  listen 443 ssl;
  server_name {{ inventory_hostname }};

  include conf.d/ssl.inc;

  access_log /var/log/nginx/{{ inventory_hostname }}.access.log;
  error_log /var/log/nginx/{{ inventory_hostname }}.error.log warn;

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://127.0.0.1:8888/;
  }
}
