object HostGroup "linux-servers" {
  display_name = "linux servers"

  assign where "host-linux" in host.templates
}

object HostGroup "dom0-servers" {
  display_name = "dom0 servers"

  assign where "host-dom0" in host.templates
}

object HostGroup "domU-servers" {
  display_name = "domU servers"

  assign where "host-domU" in host.templates
}

object HostGroup "lxc-servers" {
  display_name = "lxc servers"

  assign where "host-lxc" in host.templates
}

/**
 * Service group examples.
 */

object ServiceGroup "ping" {
  display_name = "Ping Checks"

  assign where match("ping*", service.name)
}

object ServiceGroup "http" {
  display_name = "HTTP Checks"

  assign where match("http*", service.check_command)
}

object ServiceGroup "disk" {
  display_name = "Disk Checks"

  assign where match("disk*", service.check_command)
}
