object Host "{{ zoneItem }}" {
{% if zoneItem in groups['dom0'] %}
  import "host-dom0"
{% endif %}
{% if zoneItem in groups['domU'] %}
  import "host-domU"
{% endif %}
{% if zoneItem in groups['lxc'] %}
  import "host-lxc"
{% endif %}
{% if hostvars[zoneItem]['icingaConfig'] is defined %}
  import "host-icinga"

  vars.http_vhosts["{{ zoneItem }}"] = {
    http_uri = "/"
    http_ssl = true
    http_expect = "302"
    http_port = 5665
    http_certificate = 30
  }
{% endif %}
{% if zoneItem in groups['icingaweb'] %}
  import "host-icingaweb"

  vars.http_vhosts["{{ zoneItem }}"] = {
    http_uri = "/"
    http_ssl = true
    http_expect = "403"
  }
{% endif %}

  address = "{{ zoneItem }}"
}
