apply Service "ping4" {
  import "generic-service"

  check_command = "ping4"
  zone = "{{ inventory_hostname }}"

  assign where host.address
}

apply Service "ping6" {
  import "generic-service"

  check_command = "ping6"

  assign where host.address6
}

apply Service "ssh" {
  import "generic-service"

  check_command = "ssh"

  assign where (host.address || host.address6) && "host-linux" in host.templates
}

apply Service for (http_vhost => config in host.vars.http_vhosts) {
  import "generic-service"

  check_command = "http"

  vars += config
}

apply Service for (disk => config in host.vars.disks) {
  import "generic-service"

  check_command = "disk"

  vars += config
}

apply Service "icinga" {
  import "generic-service"

  check_command = "icinga"

  assign where "host-generic" in host.templates
}

apply Service "load" {
  import "generic-service"

  check_command = "load"

  /* Used by the ScheduledDowntime apply rule in `downtimes.conf`. */
  //vars.backup_downtime = "02:00-03:00"

  assign where "host-unixoid" in host.templates
}

apply Service "procs" {
  import "generic-service"

  check_command = "procs"

  assign where "host-unixoid" in host.templates
}

apply Service "users" {
  import "generic-service"

  check_command = "users"

  assign where "host-unixoid" in host.templates
}
